# Database and ORM
sqlalchemy
psycopg2-binary
python-dotenv
pgvector

# Data Sources
alpaca-py
yfinance
requests

# ML and Sentiment Analysis
transformers
torch
ollama
sentence-transformers
pandas
pandas_ta
beautifulsoup4

# Testing
pytest
pytest-mock